table {
    width: 50%;
    margin: 0% 25%;
    border: 2px solid rebeccapurple;
}

th {
    border: 1px double lightcoral;
    background-color: rgb(187, 187, 187);
    padding: 2px;
    width: 20%;
    border-collapse: collapse;
}

td {
    border: 1px double lightcoral;
}

#inputDiv {
    text-align: right;
    margin: 0% 25%;
    padding: 0% 0% 0% 25%;
    border: 1px lightcoral;
    background-color: whitesmoke;
}