<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	
		<property name="hibernate.connection.driver_class">
			org.postgresql.Driver
		</property>
		
		<property name="hibernate.dialect">
			org.hibernate.dialect.PostgreSQLDialect
		</property>
		
		<property name="hibernate.connection.url">
			jdbc:postgresql://chris2106postgres.cyhaevxali9v.us-east-2.rds.amazonaws.com/postgres
		</property>
		
		<property name="hibernate.connection.username">
			ChrisNowalk
		</property>
		
		<property name="hibernate.connection.password">
			magicalpig
		</property>
		
		<!-- Optional properties -->
		
		<property name="show_sql">
			true
		</property>
		
		<property name="hbm2ddl.auto">
			update
		</property>
		
		<!-- Class mappings -->
		<mapping class="dev.nowalk.models.Employee"></mapping>
		<mapping class="dev.nowalk.models.Department"></mapping>
		<mapping class="dev.nowalk.models.Request"></mapping>
		<mapping class="dev.nowalk.models.Reimbursement"></mapping>
		<mapping class="dev.nowalk.models.Event"></mapping>
		<mapping class="dev.nowalk.models.EventType"></mapping>
		<mapping class="dev.nowalk.models.GradingFormat"></mapping>
	
	
	
	</session-factory>
</hibernate-configuration>