table {
    width: 50%;
    margin: 0% 25%;
    border: 2px solid darkgray;
}

tr td:first-child {
    text-align: right;
    background-color: lightblue;
    padding: 0px 5px;
}

tr td:last-child {
    text-align: center;
}